---
import type { HTMLAttributes } from 'astro/types'
interface Props extends Omit<HTMLAttributes<'input'>, 'required'> {
  id: string
  label: string
  type?: 'text' | 'date' | 'email' | 'password' | 'file'
  isRequired?: boolean
  class?: string
}

const {
  id,
  label,
  type = 'text',
  isRequired = false,
  class: className,
  ...otherProps
} = Astro.props

const isInputFile = type === 'file'
---

<div class:list={className}>
  <label class="block mb-2 text-sm font-medium text-white" for={id}>
    {label}
  </label>
  <input
    id={id}
    type={type}
    class:list={{
      'p-2.5 text-white focus:ring-amber-500 focus:border-amber-500':
        !isInputFile,
      'border cursor-pointer text-slate-400 focus:outline-none': isInputFile,
    }}
    class="block w-full text-sm rounded-lg bg-hawaii-input border-hawaii-steel placeholder-slate-500"
    required={isRequired}
    {...otherProps}
  />
</div>

<style>
  input {
    color-scheme: dark;
  }
</style>
